<div class="container-fluid banner">
    <div class="row animatedParent animateOnce">
        <div class="col-sm-12 col-md-6 banner-left animated rollIn">
            <img src="~/Content/images/banner/buscartrabajo.jpg" alt="Ofertas de trabajo" title="Ofertas de trabajo" />
        </div>
        <div class="col-sm-12 col-md-6 banner-right">
            <h2 class="animated bounceIn delay-250">Vestibulum elementum arcu</h2>
            <div class="subTitle">
                <p class="animated fadeIn delay-500">Integer a congue nibh</p>
                <p class="animated fadeIn delay-750">Pellentesque </p>
            </div>
            <div class="content">
                <p class="animated fadeIn delay-1000">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Fusce nisi enim, vulputate at justo tristique, tempor sagittis dolor. 
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec sit amet ligula.
                </p>
            </div>
            <div class="iconos">
                <div class="col-sm-4 animated fadeIn delay-1250">
                    <i class="fa fa-cogs fa-4x"></i>
                    <p>Aenean in</p>
                </div>
                <div class="col-sm-4 animated fadeIn delay-1500">
                    <i class="fa fa-area-chart fa-4x"></i>
                    <p>Ullamcor sed</p>
                </div>
                <div class="col-sm-4 animated fadeIn delay-1750">
                    <i class="fa fa-newspaper-o fa-4x"></i>
                    <p>In faucibus</p>
                </div>
            </div>
        </div>
    </div>
</div>