@{
    ViewBag.Title = "Contacto";
}
<div class="container">
    <h2 class="page-header">@ViewBag.Title</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <address>
                Ramón José Zaragoza Bleda<br />
                Calle Roselló 7 1A<br />
                03010 Alicante<br />
                <abbr title="Phone">Movil:</abbr>
                622 355 415
            </address>
            <address>
                <strong>Correo:</strong>   <a href="mailto:rzaragoza@hotmail.es">rzaragoza@hotmail.es</a><br />
            </address>
        </div>  
    </div>   
</div>
 
