
@{
    ViewBag.Title = "Sumario";
}

<div class="container">
    <div class="row">
        <h2 class="page-header">Sumario <span>del proyecto</span></h2>
        <!--COLUMNA 1-->
        <div class="col-xs-11 col-xs-offset-1 col-sm-5"> 
            
            <dl>
                <dt>Entorno de desarrollo integrado (Ide)</dt>
                <dd>
                    <ul>
                        <li>Visual Studio 2015 Enterprise</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Patrón Arquitectónico</dt>
                <dd>
                    <ul>
                        <li>MVC</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Marco de trabajo</dt>
                <dd>
                    <ul>
                        <li>Microsoft NET Framework 4.5.2</li>
                        <li>ASP.NET MVC5 4.2.3</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Base de Datos</dt>
                <dd>
                    Base de datos relacional
                    <ul>
                        <li>MSSQLLocalDB</li>
                    </ul>
                </dd>
                <dd>
                    Acceso a datos mediante (ORM)
                    <ul>
                        <li>Entity Framework 6.1.40302.0</li>
                    </ul>
                </dd>
                <dd>
                    Enfoque para el enlace a datos
                    <ul>
                        <li>Code First</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Lenguajes de Programación</dt>
                <dd>
                    Lado Servidor
                    <ul>
                        <li>C Sharp</li>
                    </ul>
                </dd>
                <dd>
                    Lado Cliente
                    <ul>
                        <li>JQuery 1.11.3</li>
                        <li>Ajax</li>
                    </ul>
                </dd>
                <dd>
                    Acceso a datos
                    <ul>
                        <li>Fluent Api EF</li>
                        <li>Linq</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <!--COLUMNA 2-->
        <div class="col-xs-11 col-xs-offset-1 col-sm-5">
            <dl>
                <dt>Lenguaje de Marcado</dt>
                <dd>
                    <ul>
                        <li>HTML 5</li>
                    </ul>
                </dd>
                <dd>
                    Framework
                    <ul>
                        <li>BootStrap 3.3.7</li>
                    </ul>
                </dd>
                <dd>
                    Motor de Vistas
                    <ul>
                        <li>Razor 3.2.3</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Estilos</dt>
                <dd>
                    <ul>
                        <li>CSS 2</li>
                        <li>CSS 3</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Herramientas externas</dt>
                <dd>
                    Informe PDF
                    <ul>
                        <li>Rotativa MVC 2.0.3</li>
                    </ul>
                </dd>
                <dd>
                    Paginación
                    <ul>
                        <li>PagedList 1.17.0</li>
                    </ul>
                </dd>
                <dd>
                    SiteMap
                    <ul>
                        <li>MvcSiteMapProvider 4.6.22</li>
                    </ul>
                </dd>
                <dd>
                    Plug-ins
                    <ul>
                        <li>Jquery UI 1.11.3</li>
                    </ul>
                </dd>
                <dd>
                    Fuentes
                    <ul>
                        <li>Font Awesome 4.7.0</li>
                        <li>Google Fonts</li>
                    </ul>
                </dd>
                <dd>
                    Control de Versiones
                    <ul>
                        <li>GIT</li>
                    </ul>
                </dd>
            </dl>  
        </div>
    </div>
</div>

