@model Models.Usuario
<div class="menu-container-fixed hidden-print">
    <div class="menu">
        <div class="row">
            <div class="col-sm-12">
                <a href="~/perfil/ExportaPdf/@Model.id" target="_blank" class="btn btn-danger">
                    <i class="fa fa-file-pdf-o"></i> <span class="hidden-xs hidden-sm">Descargar en PDF</span>
                </a>
                <button class="btn btn-primary" onclick="window.print();">
                    <i class="fa fa-print"></i> <span class="hidden-xs hidden-sm">Imprimir</span>
                </button>
                @if (Model.id != ViewBag.UsuarioActual && Request.IsAuthenticated)
                {
                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-envelope-o"></i> <span class="hidden-xs hidden-sm">Contactar</span>
                    </button>
                }
                @if (Model.Facebook != null)
                {  <a title="Facebook" href="@Model.Facebook" target="_blank" class="btn btn-default"><i class="fa fa-facebook-official"></i></a>}
                @if (Model.Twitter != null)
                { <a title="Twitter" href="@Model.Twitter" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i></a>}
                @if (Model.Linkedin != null)
                { <a title="LinkedIn" href="@Model.Linkedin" target="_blank" class="btn btn-default" style="background-color:#0077B5"><i class="fa fa-linkedin"></i></a> }
       
            </div>
        </div>
    </div>
</div>

 <!--VISTA ENVIAR MENSAJES-->
@if (Request.IsAuthenticated)
{
    @Html.Action("_EnviarMensaje")
}
