<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>  
        <link href="~/Areas/Admin/Content/error.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
