<footer class="animatedParent animateOnce">
    <div class="col-xs-12 col-sm-3 text-center">
        <p>&copy; 2017-2018 - Proyecto Modulo DAW</p>
        <p class="animated flip delay-750">Ramon Zaragoza</p>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-6 text-center">
        <a class="btn btn-default animated lightSpeedInLeft delay-1750" href="https://es-es.facebook.com/" target="_blank">
            <i class="fa fa-facebook-official fa-2x"></i>
        </a>

        <a class="btn btn-default animated lightSpeedInLeft delay-1500" href="https://twitter.com/" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
        </a>

        <a class="btn btn-default animated lightSpeedInLeft delay-1250" href="https://www.linkedin.com/" target="_blank">
            <i class="fa fa-linkedin-square fa-2x"></i>
        </a>

        <a class="btn btn-default animated lightSpeedInLeft delay-1000" href="https://www.youtube.com/" target="_blank">
            <i class="fa fa-youtube fa-2x"></i>
        </a>
    </div>
    <div class="col-xs-12 text-center">
        <hr />
        <b>ASP.NET MVC Entity Framework Code First</b>
    </div>
</footer>
